@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturCook:wght@700&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes: light, news --default;
};

@plugin "daisyui/theme"{
  name: "news";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: #403f3f;
  --color-secondary: #D72050;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
}

.unifrak-font {
  font-family: "UnifrakturCook", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a.active{
  @apply bg-base-300;
}